* {
  margin: 0;
  padding: 0;
}

.main-container {
  font-family: "Cambria", "Cochin", Georgia, Times, "Times New Roman", serif;
  word-spacing: 2px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(138, 43, 226, 0.2); */
}
/* countdown & animation--------- */
.countdown > .countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.countdown > .paper-countdown {
  position: absolute;
  display: block;
  z-index: -1;
  width: calc(70px + 5px);
  height: calc(70px + 4px);
  background: linear-gradient(
    90deg,
    rgb(95, 134, 242),
    rgb(166, 95, 242),
    rgb(242, 95, 208),
    rgb(242, 95, 97),
    rgb(242, 203, 95),
    rgb(171, 242, 95),
    rgb(95, 242, 129),
    rgb(95, 242, 240)
  );
  background-size: 250%;
  background-position: 0 50%;
  border-radius: 50%;
  animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.countdown-timer .timer {
  font-size: 40px;
  font-weight: 700;
}
/* --------------------------- */

.main-container .start-btn {
  width: 80px;
}

.title-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;
  /* background-color: darkgray; */
}
.title-container p {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}

.paper-container {
  background-color: rgba(128, 128, 128, 0.15);
  word-wrap: break-word;
  font-size: 17px;
}

/* ------------------------------- */
.result-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.result-container .container {
  min-width: 49%;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid rgba(128, 128, 128, 0.15);
  /* background-color: rgba(128, 128, 128, 0.15); */
}

/* char background color */
.char-bg-green {
  background-color: green;
}
.char-bg-red {
  background-color: red;
}
